
<div id = "contact_details">
<div class = "company-details">
  <h2 style = "text-align: center; font-size:4.5vh;letter-spacing: 1px;font-weight:450;text-transform: uppercase; color: steelblue">Contact US</h2>
<div class = "row align-items-center" style = "margin-left:2% ;">
    <div class = "column">
        <span class = "icons"><i class="fas fa-envelope"></i></span>
        <h4 style = "color:steelblue">Postal Address</h4>
        <p>GuruKripa Clinic, 8th Main Rd, KSRTC Layout, 3rd Phase, J. P. Nagar, Bengaluru - 560078, Karnataka </p>
    </div>
    <div class = "column">
        <span class = "icons"><i class="fas fa-phone"></i></span>
        <h4 style = "color:steelblue">Phone & Mail</h4>
        <p>Ph:<a href = "tel:+9108026582245" style = "color:#666666; text-decoration-line: none;" >080-2658 2245</a><br><a href = "tel:+918618891182" style = "color:#666666; text-decoration-line: none;margin-left: 27px;" >8618891182</a><br><a href = "tel:+919606773030" style = "color:#666666; text-decoration-line: none;margin-left: 27px;" >9606773030</a></span> <br> <a href = "mailto:pravina755@gmail.com" style = "text-decoration: underline; text-transform: lowercase ; color:#666666">pravina755@gmail.com</a> </p>
    </div>
    <div class = "column">
        <span class = "icons"><i class="far fa-clock"></i> </span>
        <h4 style = "color:steelblue">Opening Hours</h4>
        <p>Mon - Sat : 8:00AM - 9:30AM <br> <span style = "margin-left: 92px">6:30PM - 9:00PM</span> </p>
        <p>Sun: <span style = "margin-left: 52px">8:00AM - 11:00AM</span> </p>
    </div>
</div>
</div>
<div class = "copyright">
    <p>© All rights reserved | GuruKripa Clinic</p>
    <ul class = "contact">
        <li><a href = "https://www.instagram.com/gurukripa_clinic/?hl=en" class="fab fa-instagram"></a></li>
        <li><a href = "" class="fab fa-facebook-square"></a></li>
        <li><a href = " https://www.practo.com/bangalore/clinic/gurukripa-clinic-jp-nagar-3-phase " class="fas fa-laptop-medical"></a></li>
        <li><a href = " https://www.connect2clinic.com/doctor/pravina-shet " class="fas fa-clinic-medical"></a></li>
    </ul>
</div>
</div>
</body>
</html>