<!DOCTYPE html>
<html>
<head>
    <meta charset = UTF-8 >
    <title>GuruKripa Clinic Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body d-flex flex-column min-vh-100>
  
      
    <h1 style="color: #fff;margin: 0%;">Gurukripa clinic</h1>
    <nav class=" navbar-expand-lg navbar-light bg-light" style = "background-color:lightblue;">
    <div class="d-flex">
      <div class="mr-auto p-2"><a class="navbar-brand" href="/admin/adminPage"><i class="fa fa-fw fa-home"></i></a></div>
      <div class="p-2"><a href = "/admin/logout "  style = "float:right" ><span class="navbar-text"  style = "float:right" >
        Logout
      </span></a></div>
    </div>
    </nav>
    