
<%- include("partials/header"); -%>
<section>
    <div class="about-image" >
        
    </div>
        

    <div class = "content" style = "margin-top: 10%">
        <h2>DR Pravina Koteshwar</h2>
        <h4>M.B.B.S , M.D</h4>
         <span> <!--line her --></span> 

         <p style = " color: #64625e;">She is a health care professional with rich experience of clinical practice of 25 years and research
            experience of 19 years.
            She is the HOD of the Department of Emergency Medical Services at Sri Sri College of Ayurvedic Science
            & Research Hospital, Bangalore.
            </p>

         <ul class = "about-links">
             <li><a href = "/areas-of-expertise">AREAS OF EXPERTISE</a></li>
             <li><a href = "/knowMore">KNOW MORE</a></li>

         </ul>
    </div>
</section>
  
<%- include("partials/footer"); -%>

