<%- include("partials/headerAdmin"); -%>
    <div class = "container">
        <div class ="row align-items-center ">
            <div class = " mx-auto">
                <div class="well text-center">
                    <div class="col-md-12"><h4>WELCOME TO YOUR DASHBOARD</h4></div>
                    <div class="row">
                            <a href="/admin/compose" class = "col-sm-4"><img src= "/images/new_post.JPG" class = "rounder img-fluid img-thumbnail img-responsive" style = "height: 90%;" alt = "New Post"></a>
                            <a href="/admin/posts" class = "col-sm-4"><img src="/images/view_posts.JPG" class = "rounder img-fluid img-thumbnail img-responsive" alt="View Posts"  style = "height: 90%;"></a>
                            <a href="/admin/holiday" class = "col-sm-4"><img src="/images/add_holiday.JPG" class = "rounder img-fluid img-thumbnail img-responsive" alt="Add Holiday"  style = "height: 90%;"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/copyright") -%>
    </body>
        
    </html>
