<%- include("partials/header"); -%>
<section style = "grid-template-columns: 1fr" >
    <a href = "/about" class = "fas fa-angle-left" style = "font-size: 2.2em;margin:15px;color:steelblue"></a>  
    <div class = "areas-exp">
             
        <h2>AREAS OF EXPERTISE</h2>
        <div class="areasexp-row">
            <div class="areasexp-col">
              <div class="card">
                <a href = "#" class = "fas fa-user-md"></a>
                <h3>Consultant Physician</h3>
                
              </div>
            </div>
          
            <div class="areasexp-col">
              <div class="card">
                <a href = "#" class = "fas fa-user-md"></a>
                <h3>Diabetologist</h3>
                
              </div>
            </div>
            
            <div class="areasexp-col">
              <div class="card">
                <a href = "#" class = "fas fa-user-md"></a>
                <h3>Emergency Care Physician</h3>
              </div>
            </div>
            
    
        </div>
    </div>
    <div class = "areas-exp">
        <h2>Other specializations include : </h2>
        <div class="areasexp-row">
            <div class="areasexp-col">
              <div class="card">
                <a href = "#" class = "fas fa-user-md"></a>
                <h3>Cancer Palliative Care</h3>
                
              </div>
            </div>
          
            <div class="areasexp-col">
              <div class="card">
                <a href = "#" class = "fas fa-user-md"></a>
                <h3>HyperBaric Oxygen Therapy</h3>
                
              </div>
            </div>
            
            <div class="areasexp-col">
              <div class="card">
                <a href = "#" class = "fas fa-user-md"></a>
                <h3>Ozone Therapy</h3>
              </div>
            </div>
            
    
        </div>
    </div>
</section>

<%- include("partials/footer"); -%>