<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Appointment Confirmed</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body>
    <h1 style="color: #fff;margin: auto;">Gurukripa clinic</h1>
    <div class = "container mt-4" style = "border:steelblue 1 px solid">
        <p class = "font-weight:bold;font-size:9vh" >THANK YOU </p>
        <p>Your appointment has been booked</p>
        <a href = "/home" class = "btn btn-primary ">Go To HomePage</a>
    </div>
    <%- include("partials/copyright") -%>
    </body>
    </html>
