<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Appointment Confirmed</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
</head>
<body>
    <h1 >Gurukripa clinic</h1>
    <div class = "container mt-4 errorBooking" style = "border:steelblue 1 px solid">
        
        <p style = "font-size: 5vh;font-weight: bold;">Error</p>
        <span> <!--line here --></span>
        <p>Unable to book online appointment.Extremely sorry for causing inconvinence.<br>Please try another mode for booking your appointment.<br>Thank you</p>
        <a href = "/home" class = "btn btn-primary ">Go To HomePage</a>
        <a href = "/appointment" class = "btn btn-secondary">BOOK AN APPOINTMENT</a>
    </div>
    <%- include("partials/copyright") -%>
</body>
<style>
    h1{
    background: steelblue;
    color:white;
    text-transform: uppercase;
    text-align:center;
    margin:auto;  
    font-size:7vh;
    padding: 30px;
}
</style>
</html>
