<%- include("partials/header"); -%>
  <section style= "grid-template-columns: 1fr ;">
    <a href = "/about" class = "fas fa-angle-left" style = "font-size: 2.2em;margin:15px;color:steelblue"></a> 
    
      <ul style="line-height:180%">
      <li> Professional courses in Diabetes Management from Cleveland Clinic and other reputed organisations.</li>   
       <li>Certificate course  in the Management of  Nutritional Deficiency from Royal College of Physicians.</li>
       <li>Medical Advisor to Clinical Research Organisations.</li>
       <li>Previously worked  as Medical Advisor & HOD of Pharmacology & Toxicology,  R&D Centre, Natural Remedies Pvt. Ltd., Bangalore. </li>
       <li>Previously worked as Principal, Institute of Clinical Research, Bangalore and was affiliated to Cranfield University, UK as Course Director (India) for Master Program in Clinical Research.</li>
       <li> Recognised Teacher Status (RTS) by Cranfield, UK. (higher education training, a  prerequisite for  Postgraduate teaching and research guidance).</li>
       <li>She has many publications  in various journals of repute and has significantly contributed to the medical literature.</li>
     </ul>  
  </section>
  <style>
    ul {
      display: block;
      list-style-type: disc;
      margin-top: 1em;
      margin-bottom: 1 em;
      margin-left: 0;
      margin-right: 0;
      padding-left: 40px;
    }
    </style>
  
<%- include("partials/footer"); -%>